/* animations.css */

/* Keyframes for UI/UX DESIGNER Sliding from Left to Right */
@keyframes slide-left-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    transform: translateX(-70%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(70%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Keyframes for FRONTEND DEVELOPER Sliding from Right to Left */
@keyframes slide-right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(70%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(-70%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Animation classes */
.animate-slide-left-right {
  animation: slide-left-right 6s ease-in-out infinite;
}

.animate-slide-right-left {
  animation: slide-right-left 6s ease-in-out infinite;
}

/* Prevent wrapping of text */
.whitespace-nowrap {
  white-space: nowrap;
}
