/* Global Body Styles */
body {
  overflow: hidden;
  background: rgb(59, 14, 104);
  background: radial-gradient(circle, rgba(59, 14, 104, 1) 0%, rgba(26, 8, 78, 1) 100%);
}


/* Existing Animations */
@keyframes slide-left-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    transform: translateX(-70%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(70%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(70%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(-70%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-left-right {
  animation: slide-left-right 6s ease-in-out infinite;
}

.animate-slide-right-left {
  animation: slide-right-left 6s ease-in-out infinite;
}

/* Prevent text wrapping */
.whitespace-nowrap {
  white-space: nowrap;
}
